<h1> <%= @car.brand %></h1>
<h2><%= @car.model %></h2>
<h2><%= @car.fuel %></h2>
<p><%= @car.year %></p>
<hr>
<%= simple_form_for [@car, @review] do |f| %>
  <%= f.input :comment %>
  <%= f.input :rating %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>

<h2>Reviews</h2>
<% @car.reviews.each do |review| %>
<p><%= review.comment %></p>
<p>Rating: <%= review.rating %></p>
<p> ------------------------ </p>

<% end %>
